body {
	margin: 0;
    margin-top:50px;
	/*font-size:12px;*/
	font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color:#2C3E50;
	overflow-y: scroll;
}

body.print {
	margin: 0;
	background-color:#fff;
	overflow-y: auto;
}

@media print{
    @page {
    	size: auto; 
   		margin: auto;
    }

} 

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

a[ui-sref] {
	cursor: pointer; 
}
[course-detail-popover] {
	cursor: pointer;
}

[course-detail-popover]:hover {
	text-decoration: underline;
}

table {
	overflow:auto;
}

.center {
	text-align: center;
}

img {
	border: 0;
}

label {
	font-weight: 300 !important;
}

/* MASTER THEME STYLES */
body.print div[schedule] > .panel {
	box-shadow: none;
	border: none;
	min-width: 720px;
	margin: 0 auto;
}

body.print div[schedule].bow svg g[svg-schedule-item] rect,
body.print div[schedule].gow svg g[svg-schedule-item] rect {
	fill: #FFFFFF !important;
	fill-opacity: 1 !important;
	stroke: #000;
	stroke-width: 1px;
}

body.print div[schedule].gow svg g[svg-schedule-item] rect {
	stroke: #555;
}

body.print div[schedule].bow text,
body.print div[schedule].boc svg g[svg-schedule-item] text {
	fill: #000000 !important;
}

body.print div[schedule].bow svg line {
	stroke: #000000 !important;
}

body.print div[schedule].gow svg g[svg-schedule-item] text {
	fill: #333 !important;
}

body.print #superContainer {
	background-color: #ffffff;
}

body.default footer.main.default {
	display: block;
}

body.default footer.main.print {
	display: none;
}

body.print footer.main.default {
	display: none;
}

body.default header.main {
	display: block;
	transform: translateZ(0);
}

body.print header.main {
	display: none;
}


body.print footer.main.print {
	display: block;
}

@media print {
  body.print a[href]:after {
    content: "";
  }
}

body.default #superContainer {
    background-color: #2B4E69;
    padding-top: 40px;
}

body.print #superContainer {
    background-color: #FFFFFF;
}

body.default #container {
	position: relative;
    margin-left: auto;
	margin-right: auto;
    background-color: #2B4E69;
}

body.print #container {
    background-color: #FFFFFF;
}

footer.main.default {
	position: relative;
	padding:20px 0;
	background-color:#2C3E50;
	color:#ccc;
}

footer.main.default .logo {
	position:relative;
	float:left;
	margin-top:31px;
	margin-bottom:20px;
	margin-right:180px;
	font-size:25px;
	font-weight:bolder;
	text-shadow:0 2px 1px black;
}

footer.main.default .csh {
	position:relative;
	float:right;
	margin-top:6px;
}

footer.main.default a {
	color: #EEE;
	text-decoration:none;
}
footer.main.default a:hover {
	color: #EEE;
	text-decoration:underline;
}

footer.main.default .OLDnav {
	font-size:16px;
	margin-bottom:10px;
	text-shadow: 0 1px 1px black;
}

footer.main.print {
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-top: -30px;
}

footer.main.print img {
	vertical-align:middle;
}

footer.main.print a {
	color: #000;
}

#print_header {
	margin: 0 0;
}

input[type=text] {
	margin-top:0px;
}

/**************************************************************************/
/* GLOBAL STYLES */
/* Positioning - */

optgroup {
    font-weight:bold;
    font-style:normal;
    color: grey;
}
option {
    color: black;
}

/**************************************************************************/
/* INDEX */
#mainMenu {
	margin-top:5%;
	margin-bottom:5%;
	overflow:auto;
}
#mainMenu .navItem {
    margin: 0 auto;
	position:relative;
	text-align:center;
}
#mainMenu .navItem a:hover i {
	background: rgba(225, 225, 225, .1);
}
#mainMenu .navItem i {
		padding: 10px;
		border-radius: 10px;
		display:inline-block;
	}
@media only screen and (max-width:767px) {
	#mainMenu .navItem i {
		font-size:50px;
	}
}
@media only screen and (min-width:768px) {
	#mainMenu .navItem i {
		font-size:200px;
	}
}

#mainMenu .navItem div {
	font-size: 18px;
	text-shadow: 0 1px 1px black;
	margin-top:5%;
}

@media only screen and (max-width:767px) {
    #mainMenu .navItem div  a{
        font-size: 16px;
    }
}
#mainMenu .navItem a {
	color: #EEE;
	text-decoration: none;
}

#mainMenu td {
	padding:15px;
}
.lbl {
	text-align:right;
}
form {
	margin-bottom:5px;
}

/* VARIOUS FIXES */
.list-group li a {
	color: #333;
}
.list-group li a:hover {
	color: #111;
}
.list-group li.active a {
	color: #fff;
}
.list-group li.active a:hover {
	color: #ccc;
}

.course-error {
	padding: 9px;
	margin-bottom:0px;
}

.course-result {
	/*padding: 0 1px;*/
	margin-bottom:0px;
}
.course-selected-checkbox {
	display:none;
}
.course-info {
	transition:  background-color .25s ease, color .25s ease, border .25s ease;
	background-color:#eee;
	border:1px solid #eee;
	color:#333;
}
.selected-course {
	border:1px solid #2c3e50;
	background-color:#2c3e50;
	color:#fff;
}
.course-info a {
	color:#fff !important;
}
.label-line {
	line-height:2em;
}

.display-options-header {
	cursor: pointer;
}

/* NEW SCHEDULES */

div[schedule] .canvas-cont {
	height:500px;
	width:700px;
	margin: 0 auto;
  
}

div[schedule] .schedule-loading {
	padding-right: 10px;
	padding-top: 8px !important;
	float: right;
}

@media screen and (max-width:768px) {
	div[schedule] {
	    overflow: hidden;
	}
	div[schedule] .canvas-cont {
		height:500px;
		width:320px;
		margin: 0 auto;
		overflow-x: scroll;
	}  
	.schedule-loading {
		clear: both;
		padding-top: 15px;
		text-align: center;
		float: none !important;
	}
	   
	   
	.btn-xs-block {
		display: block;	
	}
}


/* BOOTSTRAP EXTENSIONS */
.btn {
	transition: background-color .25s ease, box-shadow .125s ease;
}

.btn-group-dow {
	width: 100%;
}


select.ng-invalid {
	color:#ccc;
	font-style: italic;
}

.btn-dow {
	padding: 11px 9px;
	width: 14.28%;
}
.vert-spacer-sm {
	margin-bottom:10px;
	width:1px;
	float:left;
}

.vert-spacer-static-sm {
	margin-bottom:10px;
	width:1px;
}
.vert-spacer-md {
	margin-bottom:20px;
	width:1px;
	float:left;
}
.vert-spacer-static-md {
	margin-bottom:20px;
	width:1px;
}

@media screen and (max-width:767px) {
	.smaller-sm {
		font-size: smaller;
	}
	
	.margin-bottom-sm {
		margin-bottom: 15px;
	}
	
	.inline-sm {
		display: inline-block;
	}
	
	.center-sm {
		display: block;
		text-align: center;
		float: none !important;
	}
	
	.block-sm {
		display: block;
	}
	
	.pull-right-sm {
		float: right;
	}
	
	.pull-left-sm {
		float: left;
	}
	
	#browse-contents .list-group-item {
	padding: 10px 8px
	}
}

@media screen and (min-width:768px) {
	
	.panel-heading-controls {
		padding: 15px 15px 0px 10px;
	}

	
	.panel-control-overlap .panel-heading .panel-title {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.panel-control-overlap .panel-footer {
		transition: background-color .25s;
	}

	.panel-control-overlap .panel-body.ng-hide + .panel-footer {
		background: none;
	    height: 0;
	    padding-bottom: 0;
	    padding-top: 0;
	    transform: translate(0px, -50px);
	    -webkit-transform: translate(0px, -50px);
	    border: 0;
	}
	
	.pull-right-md {
		float: right;
	}
	
	.pull-left-md {
		float: left;
	}

}

.popover {
	color: #333 !important;
	width:300px;
}
.popover a {
	color: #000 !important;
}
.popover .popover-white a {
	color: #fff !important;
}
.popover-title {
	display:block;
}
.rmp-rating h2 {
	color:#fff;
	text-align:center;
	display:block;
	margin:0 auto;
	background-color:#2c3e50;
	border-radius: 50% 50%;
	height:70px;
	width:70px;
	line-height:70px;
}
.rmp-rating {
	font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
}
span[professor-lookup] {
	cursor: pointer;
}

.inline-col {
	display: inline-block;
	vertical-align:top;
	float:none;
}
.course-cart-logo {
	font-size: 30px;
	display: inline-block;
	padding-right: 10px;
	padding-top: 4px;
}
.course-cart-item {
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px;
	border-left-width: 10px;
	
}
#master_schedule_results {
	padding-top: 10px;
}

.schedule-notification {
	text-align: center;
}
/* Browse Courses */

#browse-contents .list-group-item {
	transition:  background-color .25s ease, color .25s ease, border .25s ease;
	min-height: 60px;
}

#browse-contents .browse-heading {
	cursor: pointer;
}

#browse-contents .browse-heading .list-group-item-heading,
#browse-contents .browse-heading .list-group-item-text {
	overflow: hidden;
	padding-left: 10px;
}

#browse-contents .browse-sublist {
	margin-top:10px;
}

#browse-contents .list-group-item[browse-list]:not(.active):not(.active-nostyle):hover {
	background: rgb(245, 245, 245);
}

.browse-toggle-button {
	margin-right:10px;
}

#browse-contents .list-group-item.active > .browse-sublist > .list-group > .list-group-item:not(.active) > .browse-heading > h4.list-group-item-heading,
#browse-contents .list-group-item.active > .browse-sublist > .list-group > .list-group-item:not(.active) > .browse-heading > p.list-group-item-text {
	color: rgb(44, 62, 80);
}

.course-description {
	margin-top: 10px;
	font-size: small;
	color: rgb(44, 62, 80);
}

.form-inline-label {
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}
/* SVG Schedule Rendering */
svg rect {
	shape-rendering: crispEdges;
	pointer-events: all;
}

svg text {
	cursor: default;
}

svg g.item {
	pointer-events: all;
}

svg g.item:hover rect {
	fill-opacity: 1;
}
@media screen and (min-width: 991px) and (max-width: 1199px)  {
	.course-cart {
		width: 293px;
	}
}

@media screen and (min-width:1200px) {
	.course-cart {
		width: 360px;
	}
}
@media screen and (min-width: 940px) {
		
	
	.course-cart-window {
		overflow-y: auto;
		height: 350px;
		height: calc(100% - 124px);
		min-height: 100px;
	}
	
	.course-cart {
		height: calc(100% - 20px);
		min-height: 230px;
	}
	
	.pinned-sizer {
		position: fixed;
		height: calc(100% - 250px);
	}
	.pinned {
		position: fixed;
	}
}


@media screen and (max-width:767px) {
	.schedule-cont {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.schedule-track {
		width:1000px;
	}
	.schedule-track.mobileWeek {
		width: 100%;
		overflow:hidden;
	}
	.schedule-track.mobileWeek svg {
		width: 1000px;
		transform: scale(.25);
		-webkit-transform: scale(.25);
		position: relative;
		left: -366px;
		margin-bottom: -400px;
		margin-right:-800px;
		top: -210px;
	}
	.course-cart-item {
		border-left-width: 0px;
		border-top-width: 3px;
		margin-top: 10px;
	}
	.mobile-no-bottom-margin {
		margin-bottom: 0 !important;
	}
}
@media screen and (min-width:767px) and (max-width:1020px) {
	svg g.svg-schedule-hours {
		transform: translateX(7px);
	}
}

/* ANIMATIONS */
@media screen and (min-width:767px) {
	
	
	.no-repeat-item-animation {
		-webkit-animation:none !important;
	  -moz-animation:none !important;
	  -o-animation:none !important;
	  animation: none !important;
	  opacity: 1 !important;
	  margin-left: 0 !important;
	}
	
	.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
		-webkit-transition:all linear 0.25s;
		-moz-transition:all linear 0.25s;
		-o-transition:all linear 0.25s;
		transition:all linear 0.25s;
		display:block!important;
	}
	 
	.animate-show-hide.ng-hide-add.ng-hide-add-active,
	.animate-show-hide.ng-hide-remove {
		opacity:0;
	}
	 
	.animate-show-hide.ng-hide-add,
	.animate-show-hide.ng-hide-remove.ng-hide-remove-active {
		opacity:1;
	}
	

	.repeat-item.ng-enter {

	  -webkit-animation:0.25s repeat-item-enter;
	  -moz-animation:0.25s repeat-item-enter;
	  -o-animation:0.25s repeat-item-enter;
	  animation:0.25s repeat-item-enter;
	  overflow:hidden;
	}
	
	.repeat-item.ng-leave {
	  -webkit-animation:0.25s repeat-item-leave;
	  -moz-animation:0.25s repeat-item-leave;
	  -o-animation:0.25s repeat-item-leave;
	  animation:0.25s repeat-item-leave;
	  overflow:hidden;
	}
}
@keyframes repeat-item-enter {
	0% {
		opacity:0; 
		max-height:0;
	}

	100% {
		opacity:1; 
		max-height:60px;
	}
}

@-webkit-keyframes repeat-item-enter {
	0% {
		opacity:0; 
		max-height:0;
	}

	100% {
		opacity:1; 
		max-height:60px;
	}
}


@keyframes repeat-item-leave {
	0% {
		opacity:1; 
		margin-left:0px;
		max-height:60px;
	}
	50% { 
		opacity:0; 
		margin-left:-40px;
		max-height:60px;
	}
	100% {
		max-height:0;
		opacity:0; 
		margin-left:-40px;
	}
}

@-webkit-keyframes repeat-item-leave {
	0% {
		opacity:1; 
		margin-left:0px;
		max-height:60px;
	}
	50% { 
		opacity:0; 
		margin-left:-40px;
		max-height:60px;
	}
	100% {
		max-height:0;
		opacity:0; 
		margin-left:-40px;
	}
}