#### PROJECT IGNORES ####

# Ignore configuration files
inc/config.php

# Ignore schedule images
img/schedules/*.png

# Ignore node_modules dependencies
node_modules/*

# Ignore built files
assets/prod/*
!assets/prod/.gitkeep

#### EDITOR IGNORES####

# Ignore PhpStorm files
.idea

# Ignore Eclipse files
.settings
.project
.buildpath

# Ignore VisualStudio files
*.phpproj*
*.sln
*.suo
WebEssentials-Settings.json
