#### PROJECT IGNORES ####

# Ignore configuration files
inc/config.php

# Ignore schedule images
img/schedules/*.png

# Ignore node_modules dependencies
node_modules/*
package-lock.json

# Ignore built files
assets/prod/*
assets/dist/*
!assets/prod/.gitkeep

# Other files
_Local Working Files/*

#### EDITOR IGNORES ####

# Ignore PhpStorm files
.idea
*.iml

# Ignore Eclipse files
.settings
.project
.buildpath

# Ignore VisualStudio files
*.phpproj*
*.sln
*.suo
web.config
vwd.webinfo
WebEssentials-Settings.json
vendor
composer.lock
