# Ignore PhpStorm files
.idea

# Ignore configuration files
inc/config.php

# Ignore schedule images
img/schedules/*.png

# Ignore Eclipse files
.settings
.project
.buildpath

# Ignore VisualStudio files
/*.phpproj*
/*.sln
/*.suo
/WebEssentials-Settings.json
