<div class='courseOptionsList'>
    <div class='title'>
        {{count}} Courses Match
    </div>
    <div class='list'>
        {{#each courses}}
            <input id='{{../courseField}}{{this.number}}' type='checkbox' name='{{../courseField}}Opt[]' value='{{this.sectionId}}' checked='checked'/>
            <label for='{{../courseField}}{{this.number}}'>
                {{this.courseNum}} with {{this.instructor}} |
                {{#if this.online}}
                    Online
                {{else}}
                    {{#each this.times}}
                        {{this.days}} {{formatTime this.start}}-{{formatTime this.end}}
                    {{/each}}
                {{/if}}
            </label>
            <br />
        {{/each}}
    </div>
</div>
<div class='courseOptionsExpand'>
    <button id='{{courseField}}Button' class='courseOptionsExpander'>+</button>
</div>