<h2>Your Random Course</h2>
<p style='font-weight:bold'>
    {{courseNum}} {{title}} with {{instructor}}
</p>
{{#if online}}
    <p style='font-weight:bold'>Online Course</p>
{{else}}
    <table id='rouletteCourseTimes'>
        {{#each times}}
        <tr>
            <td>{{formatDay this.day}}</td>
            <td>{{formatTime this.start}}</td>
            <td>-</td>
            <td>{{formatTime this.end}}</td>
            <td>{{this.bldg.code}}({{this.bldg.number}})-{{this.room}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}
<button>Build Schedule with this Course</button>