<div class="container">
	<div class="hidden-xs">
		<div class="alert alert-success" ng-show="state.ui.alert_newFeatures">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="state.ui.alert_newFeatures = false"><i class="fa fa-times"></i></button>
			<strong>Welcome to the new ScheduleMaker!</strong> We've added lots of new features to the website, including a completely redesigned  modern interface with full mobile support, a new course cart so you add courses to your schedule from the Browse and Search Page, the ability to come back right where you left off (automatic saved sessions), <a ui-sref="help">keyboard shortcuts</a> for power users, RateMyProfessors integration, and a whole lot more! Check out the <a ui-sref="help">help</a> page for more info. Enjoy!
		</div>
	</div>
	<div id="mainMenu" class="row">
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="generate"><i class="fa fa-calendar"></i></a>
				<div><a ui-sref="generate">Make a Schedule</a></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="browse"><i class="fa fa-list"></i></a>
				<div><a ui-sref="browse">Browse Courses</a></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="search"><i class="fa fa-search"></i></a>
				<div><a ui-sref="search">Search Courses</a></div>
			</div>
		</div>
	</div>
</div>