<div class="container">
	<div id="mainMenu" class="row">
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="generate"><i class="fa fa-calendar"></i></a>
				<div><a ui-sref="generate">Make a Schedule</a></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="browse"><i class="fa fa-list"></i></a>
				<div><a ui-sref="browse">Browse Courses</a></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="navItem">
				<a ui-sref="search"><i class="fa fa-search"></i></a>
				<div><a ui-sref="search">Search Courses</a></div>
			</div>
		</div>
	</div>
</div>