body {
	margin: 0px;
	font-size:12px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#FF9500;
}

#superContainer {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	min-width:960px;
	max-width:1240px;
	box-shadow: 0 0 10px;
}

#container {
	position: relative;
	float: center;
	min-width: 960px;
	max-width: 1200px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;				
	margin-left: auto;
	margin-right: auto;
	/*background-color: #FAFAFA;*/
	background-color:#0C5DA5;
}

#header {
	position:relative;
	float:center;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:#111;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image:-moz-linear-gradient(top, #333, #111);
	background-image:-ms-linear-gradient(top, #333, #111);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background-image:-webkit-linear-gradient(top, #333, #111);
	background-image:-o-linear-gradient(top, #333, #111);
	background-image:linear-gradient(top, #333, #111);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111', GradientType=0);
}

#header a {
	color:#EEE;
	text-decoration:none;
	text-shadow:0 2px 1px black;
}
#header a:hover {
	color:#EEE;
	text-decoration:underline;
}

#header .logo {
	position:relative;
	float:left;
	margin:20px;
	font-size:40px;
	font-weight:bolder;
	font-family:"Trebuchet MS", "Helvetica", "Lucida Sans", sans-serif;
}

#header .nav {
	position:relative;
	float:right;
	margin-right:
	font-family:"Trebuchet MS", "Helvetica", "Lucida Sans", sans-serif;
	font-size:16px;
	margin-right: 25px;
	margin-top:38px;
}

#footer {
	position: relative;
	float:center;
	padding:20px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#111;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image:-moz-linear-gradient(top, #333, #111);
	background-image:-ms-linear-gradient(top, #333, #111);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background-image:-o-linear-gradient(top, #333, #111);
	background-image:linear-gradient(top, #333, #111);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111', GradientType=0);
	color: #EEE;
	font-family: "Trebuchet MS", "Helvetica", "Lucida Sans", sans-serif;
	text-shadow: 0 2px 1px black;
}

#footer .logo {
	position:relative;
	float:left;
	margin-top:31px;
	margin-bottom:20px;
	margin-right:180px;
	font-size:25px;
	font-weight:bolder;
}

#footer .csh {
	position:relative;
	float:right;
	margin-top:6px;
}

#footer a {
	color: #EEE;
	text-decoration:none;
}
#footer a:hover {
	color: #EEE;
	text-decoration:underline;
}

#footer .nav {
	font-size:16px;
	margin-bottom:10px;
}

input[type=text] {
	font-size:14px;
	padding:3px;
}

.bigButton {
	border-radius: 5px;
	color: white;
	font-weight:bold;
	padding:10px;
	text-shadow: 0 0.5px 0.5px black;
	background-color:#0064CD;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
	background-image:-moz-linear-gradient(top, #049CDB, #0064CD);
	background-image:-ms-linear-gradient(top, #049CDB, #0064CD);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
	background-image:-o-linear-gradient(top, #049CDB, #0064CD);
	background-image:linear-gradient(top, #049CDB, #0064CD);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049CDB', endColorstr='#0064CD', GradientType=0);
}

/**************************************************************************/
/* STATUS */
#status {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding:60px;
	border-radius:30px;
	background-color:darkgreen;
	text-align:center;
	font-size:100px;
	font-weight:bolder;
	color:white;
}

/**************************************************************************/
/* INDEX */
#mainMenu {
	width:100%;
	margin-top:125px;
	margin-bottom:125px;
	overflow:auto;
}
#mainMenu .navItem {
	width:33%;
	position:relative;
	float:left;
	text-align:center;
}
#mainMenu .navItem img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#mainMenu .navItem div {
	font-size: 18px;
	text-shadow: 0 2px 1px black;
	margin-top:40px;
}

#mainMenu .navItem a {
	color: #EEE;
	text-decoration: none;
}

#mainMenu td {
	padding:15px;
}
.lbl {
	text-align:right;
}
form {
	margin-bottom:5px;
}
li {
	margin-top:3px;
	margin-bottom:3px;
}
#progress {
	padding: 20px;
	background-color: #679FD2;
}

#progress h2 {
	margin-top:0px;
	text-shadow:0 1px 1px black;
	color: white;
}

#progress div {
	padding:5px;
}

/**************************************************************************/
/* ROULETTE */
#rouletteParams {
	overflow:auto;
	background-color:#679FD2;
	padding-top:20px;
}

#rouletteHeader {
	float: left;
	position: relative;
	text-align: left;
	margin-left:20px;
	width: 280px;
}

#rouletteHeader h2 {
	font-size:20px;
	margin-bottom:5px;
	color: white;
	text-shadow: 0 1px 1px black;
}

#rouletteParamFields {
	position:relative;
	float:left;
	width:700px;
}

.rouletteParamField {
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.rouletteLabel {
	position:relative;
	float:left;
	width:150px;
	text-align:right;
	font-weight:normal;
	line-height:20px;
	margin-right:10px;
}

.rouletteField {
	font-weight:normal;
	text-align:left;
	line-height:20px;
}

.rouletteField table {
	width:300px;
	border-collapse:collapse;
}

#rouletteSpin {
	text-align:center;
	margin-top:20px;
}

#rouletteForm td {
	vertical-align:top;
}
.rouletteError {
	background-color:#CC3129 !important;
	color:white;
}
#rouletteCourse {
	background-color:#679FD2;
	display:none;
	margin-top:20px;
	padding:20px;
	text-align:center;
}

#rouletteCourse h2 {
	margin-top:0;
	margin-bottom:5px;
	color: white;
	text-shadow: 0 1px 1px black;
}

#rouletteCourse input {
	margin-top:10px;
}

#rouletteCourseTimes {
	width:400px;
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
}

/**************************************************************************/
/* SCHEDULE */
.scheduleForm {
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
	/*width:1120px;*/
	padding:20px;
	padding-bottom:0px;
	background-color:#679FD2;
	overflow:auto;
}
.subheader {
	position:relative;
	border-bottom: solid 1px #679FD2;
	padding-bottom:5px;
	margin-bottom:15px;
}

.scheduleForm .subheader {
	border-bottom: solid 1px #0C5DA5;
}	

.subheader h2,h3 {
	display:inline;
}

.subheader h2 {
	text-shadow:0 1px 1px black;
	color:white;
}

#formControl input {
	margin-bottom:10px;
}

#schedules .subheader h2 {
	margin-left:20px;
}

.subheader input {
	float:right;
	vertical-align:middle;
}
#scheduleCourses
{
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	min-width:900px;
	max-width:1000px;
}
#nonCourses,
#noCourses,
#advancedOptions
{
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:600px;
}			
.courseRow {
	overflow:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
.course {
	position:relative;
	float:left;
	margin:10px;
	width:205px;
	/*width:230px;*/
}
.course h3 {
	margin:0 0 0 5px;
}
.courseOpts {
	margin-top:5px;
	padding:5px;
	width:100%;
	display:none;
}
.courseOptsError {
	background-color: #CC3129;
	margin: 3px 3px 0;
	width:auto;
	color: white;
}
.courseOptsTable {
	display:none;
	width:100%;
	font-size:12px;
}
.course input[type='text'] {
	width:193px;
	color:grey;
}
#nonCourses,
#noCourses td {
	text-align:center;
}
#formSubmit {
	text-align:center;
	padding-bottom:20px;
}
#schedules {
	display:none;
}
.scheduleError {
	position:relative;
	float:center;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:#CC3129;
	color:white;
	overflow:auto;
}
.scheduleWarning {
	position:relative;
	float:center;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:darkorange;
	overflow:auto;
}
.schedule {
	overflow:hidden;
	font-size:10px;
	border-bottom:solid 1px black;
	border-right:solid 1px black;
}
.schedule div {
	position:absolute;
	width:99px;
	border:solid 1px black;
	background-color:white;
}
.schedule div div {
	border:0;
	padding:2px;
	width:95px;
}

.schedSupaWrapper {
	margin-bottom:20px;
}

.scheduleWrapper {
	position:relative;
	float:center;
	margin-left:auto;
	margin-right:auto;
	background-color:#679FD2;
	box-shadow: 0 0 15px black; 
}

#savedControls {
	text-align:center;
}

.scheduleControl {
	position:absolute;
	width:150px;
	right:-152px;
	border-right:solid 1px black;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	top:60px;
	text-align:center;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image:-moz-linear-gradient(top, #333, #111);
	background-image:-ms-linear-gradient(top, #333, #111);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background-image:-o-linear-gradient(top, #333, #111);
	background-image:linear-gradient(top, #333, #111);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111', GradientType=0);
}
.scheduleControl input,button {
	margin-top:5px;
	width:140px;
	font-size:12px;
	line-height:16px;
}
.scheduleControl button img {
	vertical-align:bottom;
}
.schedule h4 {
	margin:0px;
	padding-top: 1px;
	padding-right: 2px;
	padding-left:2px;
	color: white;
	overflow: hidden;
}
.daytime, .weekday {
	position:absolute;
	width:99px;
	height:19px;
	line-height:19px;
	font-weight:bold;
	font-size:12px;
}
.weekday {
	top:0px;
	text-align:center;
}
.daytime {
	left:0px;
	text-align:right;
}
.day0 {
	left:100px;
}
.day1 {
	left:200px;
}
.day2 {
	left:300px;
}
.day3 {
	left:400px;
}
.day4 {
	left:500px;
}
.day5 {
	left:600px;
}
.day6 {
	left:700px;
}

/* In case you're wondering: http://colorschemedesigner.com/#0K61Tw0w0w0w0 */
.colorHeader1 { /* Brown */
	background-color:#8F4C00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#B56900), to(#8F4C00));
	background-image:-moz-linear-gradient(top, #B56900, #8F4C00);
	background-image:-ms-linear-gradient(top, #B56900, #8F4C00);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #B56900), color-stop(100%, #8F4C00));
	background-image:-webkit-linear-gradient(top, #B56900, #8F4C00);
	background-image:-o-linear-gradient(top, #B56900, #8F4C00);
	background-image:linear-gradient(top, #B56900, #8F4C00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B56900', endColorstr='#8F4C00', GradientType=0);
}
.colorHeader0 { /* Blue */
	background-color:#03325C;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#054C8E), to(#03325C));
	background-image:-moz-linear-gradient(top, #054C8E, #03325C);
	background-image:-ms-linear-gradient(top, #054C8E, #03325C);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #054C8E), color-stop(100%, #03325C));
	background-image:-webkit-linear-gradient(top, #054C8E, #03325C);
	background-image:-o-linear-gradient(top, #054C8E, #03325C);
	background-image:linear-gradient(top, #054C8E, #03325C);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#054C8E', endColorstr='#03325C', GradientType=0);
}
.colorHeader2 { /* Red */
	background-color: #FF4F00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#FF4F00), to(#CD4000));
	background-image:-moz-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-ms-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF4F00), color-stop(100%, #CD4000));
	background-image:-webkit-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-o-linear-gradient(top, #FF4F00, #CD4000);
	background-image:linear-gradient(top, #FF4F00, #CD4000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4F00', endColorstr='#CD4000', GradientType=0);
}
.colorHeader3 { /* Green */
	background-color: #8F2C00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#B13600), to(#8F2C00));
	background-image:-moz-linear-gradient(top, #B13600, #8F2C00);
	background-image:-ms-linear-gradient(top, #B13600, #8F2C00);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #B13600), color-stop(100%, #8F2C00));
	background-image:-webkit-linear-gradient(top, #B13600, #8F2C00);
	background-image:-o-linear-gradient(top, #B13600, #8F2C00);
	background-image:linear-gradient(top, #B13600, #8F2C00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B13600', endColorstr='#8F2C00', GradientType=0);
}

.shortHeader { 
	height: 19px;
	line-height: 19px;
}

.shortenBottom {
	border-bottom:2px solid orange !important;
}
.shortenTop {
	border-top:2px solid orange !important;
}

.prevbutton {
	position: relative;
	float:left;
}
.nextbutton {
	position: relative;
	float:right;
}
.schedulePagination {
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;
	color:white;
}
.schedUrl {
	background-color:#FFD600;
	position:relative;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:auto;
	margin-right:auto;
}
.schedNotes {
	background-color:#FFD600;
	sosition:relative;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;	
}
.schedUrl, .schedNotes p {
	/*margin:2px;*/
	text-align:center;
}
.schedUrl p.disclaimer {
	font-style:italic;
}

/**************************************************************************/
/* COURSE BROWSER */
#quarterList {
	overflow:auto;
	background-color: #679FD2;
	padding:20px;
}
#browseHeader {
	margin-top:none;
	padding-bottom:20px;
	margin: 0;
	color:white;
	text-shadow: 0 1px 1px black;
}
#quarterList p {
	margin-top:0;
}
#quarterList p a {
	color:black;
}

.subDivision {
	display:none;
	margin-left:20px;
	margin-top:5px;
}
.item {
	line-height:16px;
	padding:5px;
	background:#679FD2;
}

.item .item {
	margin-left:10px;
	margin-bottom:5px;
	border: solid 1px white;
}

.item button {
	width:25px;
	margin-top:0;
	margin-left:5px;
	margin-right:5px;
}

.courseDescription {
	display: none;
	margin:5px;
	margin-left:37px;
	margin-bottom:10px;
}
.online {
	border-radius: 3px 3px 3px 3px;
	font-size: 9.75px;
	font-weight: bold;
	padding: 1px 3px 2px;
	text-transform: uppercase;
	color:white;
	background-color:#CC3129;
}

.honors {
	border-radius: 3px 3px 3px 3px;
	font-size: 9.75px;
	font-weight: bold;
	padding: 1px 3px 2px;
	text-transform: uppercase;
	color:white;
	background-color:darkgreen;
}

/* Some other stuff */
.c, .b {
	border-radius: 3px 3px 3px 3px;
 	font-size: 9.75px;
 	font-weight: bold;
 	padding: 1px 3px 2px;
 	text-transform: uppercase;
	color:white;
}
.c {
	background-color:darkgreen;
}
.b {
	background-color:orange;
}
