body {
	margin: 0;
    margin-top:50px;
	/*font-size:12px;*/
	font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color:#2C3E50;
	overflow-y: scroll;
}

body.print {
	margin: 0;
	background-color:#fff;
	overflow-y: auto;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

table {
	overflow:auto;
}

.center {
	text-align: center;
}

img {
	border: 0;
}

label {
	font-weight: 300 !important;
}

#superContainer {
	/*  nothing */
    background-color:#2B4E69;
    padding-top:40px;
	
}

#container {
	position: relative;
    margin-left: auto;
	margin-right: auto;
    background-color: #2B4E69;
	/*background-color:#799AA5;*/
}

#header {
	position:relative;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:#111;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image:-moz-linear-gradient(top, #333, #111);
	background-image:-ms-linear-gradient(top, #333, #111);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background-image:-webkit-linear-gradient(top, #333, #111);
	background-image:-o-linear-gradient(top, #333, #111);
	background-image:linear-gradient(top, #333, #111);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 );
}

#header a {
	color:#EEE;
	text-decoration:none;
	text-shadow:0 1px .5px black;
}

#header .logo {
	position:relative;
	float:left;
	margin:20px;
	font-size:40px;
	font-weight:bolder;
	font-family:"Trebuchet MS", "Helvetica", "Lucida Sans", sans-serif;
}

#header .nav:hover {
	border-bottom:2px solid #799AA5;
}


#header .nav {
	position:relative;
	float:right;
	font-family:"Trebuchet MS", "Helvetica", "Lucida Sans", sans-serif;
	font-size:16px;
	margin-right: 25px;
	margin-top:38px;
}

#header .underline {
	border-bottom:2px solid #799AA5;
}

#footer {
	position: relative;
	padding:20px;
	background-color:#2C3E50;
	color:#ccc;
}

#footer .logo {
	position:relative;
	float:left;
	margin-top:31px;
	margin-bottom:20px;
	margin-right:180px;
	font-size:25px;
	font-weight:bolder;
	text-shadow:0 2px 1px black;
}

#footer .csh {
	position:relative;
	float:right;
	margin-top:6px;
}

#footer a {
	color: #EEE;
	text-decoration:none;
}
#footer a:hover {
	color: #EEE;
	text-decoration:underline;
}

#footer .OLDnav {
	font-size:16px;
	margin-bottom:10px;
	text-shadow: 0 1px 1px black;
}

#print_footer {
	height:50px;
	text-align:center;
	line-height:50px;
}

#print_footer img {
	vertical-align:middle;
}

#print_footer a {
	color: #000;
}

input[type=text] {
	margin-top:0px;
}

.notice, .devNotice {
	background-color: darkorange;
	padding:10px;
}

.bigButton {
	border-radius: 5px;
	color: white;
	font-weight:bold;
	padding:10px;
	text-shadow: 0 0.5px 0.5px black;
	background: #353572;
	background: -moz-linear-gradient(top, #353572 0%, #13136b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353572), color-stop(100%,#13136b));
	background: -webkit-linear-gradient(top, #353572 0%,#13136b 100%);
	background: -o-linear-gradient(top, #353572 0%,#13136b 100%);
	background: -ms-linear-gradient(top, #353572 0%,#13136b 100%);
	background: linear-gradient(top, #353572 0%,#13136b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353572', endColorstr='#13136b',GradientType=0 );
}

/**************************************************************************/
/* GLOBAL STYLES */
/* Positioning - */

.subContainer {
	background-color: #799AA5;
	overflow:auto;
	padding:20px;
}

.leftColumn {
	position:relative;
	float:left;
}

.leftNoField { width: 400px; }
.leftWidthField { width: 280px; }

.rightColumn {
	overflow:auto;
}

.separated {
	/* If using for a tr tag, table requires border-collapse:collapse */
	border-bottom:1px solid #2B4E69;
}

/* Font Styles - */
h1,h2 {
	/*color: white;
	text-shadow:0 1px 1px black;*/
}

.leftColumn h2 {
	margin-top:20px;

	margin-bottom:5px;
	font-size:20px;
}

span.error {
	background-color: #CC3129;
	padding:3px;
}

optgroup {
    font-weight:bold;
    font-style:normal;
    color: grey;
}
option {
    color: black;
}

/**************************************************************************/
/* STATUS */
#scraperStatus {
	width:100%;
	text-align: center;
	border-collapse: collapse;
}

#scraperStatus .failures {
	color:#CC3129;
}

/**************************************************************************/
/* INDEX */
#mainMenu {
	margin-top:5%;
	margin-bottom:5%;
	overflow:auto;
}
#mainMenu .navItem {
    margin: 0 auto;
	position:relative;
	text-align:center;
}
#mainMenu .navItem a:hover i {
	background: rgba(225, 225, 225, .1);
}
#mainMenu .navItem i {
		padding: 10px;
		border-radius: 10px;
		display:inline-block;
	}
@media only screen and (max-width:767px) {
	#mainMenu .navItem i {
		font-size:50px;
	}
}
@media only screen and (min-width:768px) {
	#mainMenu .navItem i {
		font-size:200px;
	}
}

#mainMenu .navItem div {
	font-size: 18px;
	text-shadow: 0 1px 1px black;
	margin-top:5%;
}

@media only screen and (max-width:767px) {
    #mainMenu .navItem div  a{
        font-size: 16px;
    }
}
#mainMenu .navItem a {
	color: #EEE;
	text-decoration: none;
}

#mainMenu td {
	padding:15px;
}
.lbl {
	text-align:right;
}
form {
	margin-bottom:5px;
}
/* #container li {
	margin-top:3px;
	margin-bottom:3px;
}*/
#progress {
	padding: 20px;
	background-color: #799AA5;
}

#progress h2 {
	margin-top:0;
	text-shadow:0 1px 1px black;
	color: white;
}

#progress div {
	padding:5px;
}

/**************************************************************************/
/* ROULETTE */
#rouletteParams {
	overflow:auto;
	background-color:#799AA5;
	padding-top:20px;
}

#rouletteParams input[type="text"] {
	width:290px;
	border:2px solid #EAE8E3;
	padding:3px;
}
#rouletteParams select {
	width:300px;
}

#rouletteHeader {
	float: left;
	position: relative;
	text-align: left;
	margin-left:20px;
	width: 280px;
}

#rouletteHeader h2 {
	font-size:20px;
	margin-bottom:5px;
	color: white;
	text-shadow: 0 1px 1px black;
}

#rouletteParamFields {
	position:relative;
	float:left;
	width:700px;
}

.rouletteParamField {
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.rouletteLabel {
	position:relative;
	float:left;
	width:150px;
	text-align:right;
	font-weight:normal;
	line-height:20px;
	margin-right:10px;
}

.rouletteField {
	font-weight:normal;
	text-align:left;
	line-height:20px;
}

.rouletteField table {
	width:300px;
	border-collapse:collapse;
}

#rouletteSpin {
	text-align:center;
	margin-top:20px;
}

#rouletteForm td {
	vertical-align:top;
}
.rouletteError {
	background-color:#CC3129 !important;
	color:white;
}
#rouletteCourse {
	background-color:#799AA5;
	display:none;
	margin-top:20px;
	padding:20px;
	text-align:center;
}

#rouletteCourse h2 {
	margin-top:0;
	margin-bottom:5px;
	color: white;
	text-shadow: 0 1px 1px black;
}

#rouletteCourse input {
	margin-top:10px;
}

#rouletteCourseTimes {
	width:400px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.rouletteOR {
	width:600px;
	margin:10px;
}

/**************************************************************************/
/* SCHEDULE */
.scheduleForm {
	position:relative;
	margin-left:auto;
	margin-right:auto;
    padding: 20px 20px 0;
	overflow:auto;
}

.startTimePicker, .endTimePicker {
    width: 93px;
}

.subheader {
	position:relative;
	border-bottom: solid 1px #799AA5;
	padding-bottom:5px;
	margin-bottom:15px;
}

.subheader button {
    position:relative;
    float:right;
}

.scheduleForm .subheader {
	border-bottom: solid 1px #2b4e69;
}	

.subheader h2,h3 {
	display:inline;
}

.subheader h2 {
	/*text-shadow:0 1px 1px black;
	color:white;*/
}

#formControl input {
	margin-bottom:10px;
}

#schedules .subheader h2 {
	margin-left:20px;
}

.subheader input {
	float:right;
	vertical-align:middle;
}

#nonCourses,
#noCourses,
#advancedOptions
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:600px;
}
.courseSettings {
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 900px;
}
.courseRow {
	overflow:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
    margin-top: 20px;
	width:900px;
    line-height: 24px;
}
.courseRow label {
    font-weight:bold;
    margin-right:10px;
}
.courseRow input[type='text'] {
    float: right;
}
.courseOptionsList {
    position: relative;
    float: left;
    font-weight:bold;
}
.courseOptionsList .list {
    display: none;
}
.courseOptionsExpand {
    position: relative;
    float: right;
    height: 24px; /* Not sure where the mystery pixel is coming from, but it's messing things up */
}
.courseRowField {
    position: relative;
    float: left;
    width:280px;
}
.courseRowOptions {
    position: relative;
    float: left;
    width: 565px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 15px;
}
.courseOptionsError {
    background-color:#CC3129;
}
.course {
	position:relative;
	float:left;
	margin:15px;
	width:205px;
}
.course h3 {
	margin:0 0 0 5px;
}
.courseField {
	width:193px;
}


#nonCourses,
#noCourses td {
	text-align:center;
}
#formSubmit {
	text-align:center;
	padding-bottom:20px;
}
#schedules {
	display:none;
}

.scheduleError {
	position:relative;
	margin:20px auto;
	padding:20px;
	background-color:#CC3129;
	color:white;
	overflow:auto;
}
.scheduleWarning {
	position:relative;
    margin: 20px auto;
    padding:20px;
	background-color:darkorange;
	overflow:auto;
}
.schedule {
	overflow:hidden;
	font-size:10px;
	border-bottom:solid 1px black;
	border-right:solid 1px black;
}
.schedule div {
	position:absolute;
	width:99px;
	border:solid 1px black;
}
.schedule div div {
	border:0;
	padding:2px;
	width:95px;
}

.schedSupaWrapper {
	margin-bottom:20px;
}

.scheduleWrapper {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color:#799AA5;
	box-shadow: 0 0 15px black;
    z-index: 2;
}

#savedControls {
	text-align:center;
}

.scheduleControl {
	position:absolute;
	width:150px;
	right:-152px;
	border-right:solid 1px black;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	top:60px;
	text-align:center;
	background:-khtml-gradient(linear, left top, left bottom, from(#333), to(#111));
	background:-moz-linear-gradient(top, #333, #111);
	background:-ms-linear-gradient(top, #333, #111);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background:-o-linear-gradient(top, #333, #111);
	background:linear-gradient(top, #333, #111);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 );
}
.scheduleControl input, .scheduleControl button {
	margin-top:5px;
	width:140px;
	font-size:12px;
	line-height:16px;
}
.scheduleControl button img {
	vertical-align:bottom;
}
.schedule h4 {
	margin:0;
	padding-top: 1px;
	padding-right: 2px;
	padding-left:2px;
	color: white;
	overflow: hidden;
}
.daytime, .weekday {
	position:absolute;
	width:99px;
	height:19px;
	line-height:19px;
	font-weight:bold;
	font-size:12px;
	background-color:#FFFFF0;
	color: black;
}
.weekday {
	top:0;
	text-align:center;
}
.daytime {
	left:0;
	text-align:right;
}
.day0 {
	left:100px;
}
.day1 {
	left:200px;
}
.day2 {
	left:300px;
}
.day3 {
	left:400px;
}
.day4 {
	left:500px;
}
.day5 {
	left:600px;
}
.day6 {
	left:700px;
}

.timeContainer {
    overflow: hidden;
}

.timeContainerHover {
    overflow: visible;
    box-shadow: 0 0 5px yellow;
    z-index: 9001;
}

.timeContainerHover div {
    background-color: inherit;
}

/* In case you're wondering: http://colorschemedesigner.com/#0K61Tw0w0w0w0 */
.color0 { /* Blue */
	background-color:#054C8E;
}
.color0 h4 {
	background-color:#03325C;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#054C8E), to(#03325C));
	background-image:-moz-linear-gradient(top, #054C8E, #03325C);
	background-image:-ms-linear-gradient(top, #054C8E, #03325C);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #054C8E), color-stop(100%, #03325C));
	background-image:-webkit-linear-gradient(top, #054C8E, #03325C);
	background-image:-o-linear-gradient(top, #054C8E, #03325C);
	background-image:linear-gradient(top, #054C8E, #03325C);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#054C8E', endColorstr='#03325C', GradientType=0);
}

.color1 { /* Brown */
	background-color: #B56900;
}
.color1 h4 {
	background-color:#8F4C00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#B56900), to(#8F4C00));
	background-image:-moz-linear-gradient(top, #B56900, #8F4C00);
	background-image:-ms-linear-gradient(top, #B56900, #8F4C00);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #B56900), color-stop(100%, #8F4C00));
	background-image:-webkit-linear-gradient(top, #B56900, #8F4C00);
	background-image:-o-linear-gradient(top, #B56900, #8F4C00);
	background-image:linear-gradient(top, #B56900, #8F4C00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B56900', endColorstr='#8F4C00', GradientType=0);
}

.color2 { /* Red */
	background-color:#FF4F00;
}
.color2 h4 {
	background-color: #FF4F00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#FF4F00), to(#CD4000));
	background-image:-moz-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-ms-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF4F00), color-stop(100%, #CD4000));
	background-image:-webkit-linear-gradient(top, #FF4F00, #CD4000);
	background-image:-o-linear-gradient(top, #FF4F00, #CD4000);
	background-image:linear-gradient(top, #FF4F00, #CD4000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4F00', endColorstr='#CD4000', GradientType=0);
}

.color3 { /*Green */
	background-color: #B13600;
}
.color3 h4 {
	background-color: #8F2C00;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#B13600), to(#8F2C00));
	background-image:-moz-linear-gradient(top, #B13600, #8F2C00);
	background-image:-ms-linear-gradient(top, #B13600, #8F2C00);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #B13600), color-stop(100%, #8F2C00));
	background-image:-webkit-linear-gradient(top, #B13600, #8F2C00);
	background-image:-o-linear-gradient(top, #B13600, #8F2C00);
	background-image:linear-gradient(top, #B13600, #8F2C00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B13600', endColorstr='#8F2C00', GradientType=0);
}

.shortHeader { 
	height: 19px;
	line-height: 19px;
}

.shortenBottom {
	border-bottom:2px solid orange !important;
}
.shortenTop {
	border-top:2px solid orange !important;
}

.prevbutton {
	position: relative;
	float:left;
}
.nextbutton {
	position: relative;
	float:right;
}
.schedulePagination {
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;
	color:white;
}
.schedUrl, .schedUrlError {
	background-color:#A3773C;
	position:relative;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:auto;
	margin-right:auto;
    text-align:center;
}
.schedNotes {
	background-color:#A3773C;
	position:relative;
	padding-top:2px;
	padding-bottom:2px;
    margin: 0 auto 10px;
}

.schedNotes p {
    margin: 10px;
}

.schedUrlError {
    background-color:#CC3129;
    color:white;
}
.schedUrl p.disclaimer {
	font-style:italic;
}

/**************************************************************************/
/* COURSE BROWSER */
#quarterList {
	overflow:auto;
	background-color: #799AA5;
	padding:20px;
}
#quarterList p {
	margin-top:0;
}
#quarterList p a {
	color:black;
}



/*.subDivision {
	display:none;
	margin-left:20px;
	margin-top:5px;
}
.item {

}

.item .item {
	margin-left:10px;
	margin-bottom:8px;
	border-left: solid 3px white;
}

.item button {
	width:25px;
	margin-top:0;
	margin-left:5px;
	margin-right:5px;
}*/

.courseDescription {
	display: none;
    margin: 5px 5px 10px 37px;
}
.online {
	border-radius: 3px 3px 3px 3px;
	font-size: 9.75px;
	font-weight: bold;
	padding: 1px 3px 2px;
	text-transform: uppercase;
	color:white;
	background-color:#CC3129;
}

.honors {
	border-radius: 3px 3px 3px 3px;
	font-size: 9.75px;
	font-weight: bold;
	padding: 1px 3px 2px;
	text-transform: uppercase;
	color:white;
	background-color:darkgreen;
}

/* Some other stuff */
.c, .b {
	border-radius: 3px 3px 3px 3px;
 	font-size: 9.75px;
 	font-weight: bold;
 	padding: 1px 3px 2px;
 	text-transform: uppercase;
	color:white;
}
.c {
	background-color:darkgreen;
}
.b {
	background-color:orange;
}

input {
	-webkit-appearance: none;
}
/* VARIOUS FIXES */
.list-group li a {
	color: #333;
}
.list-group li a:hover {
	color: #111;
}
.list-group li.active a {
	color: #fff;
}
.list-group li.active a:hover {
	color: #ccc;
}

.course-error {
	padding: 9px;
	margin-bottom:0px;
}

.course-result {
	/*padding: 0 1px;*/
	margin-bottom:0px;
}
.course-selected-checkbox {
	display:none;
}
.course-info {
	transition:  background-color .25s ease, color .25s ease, border .25s ease;
	background-color:#eee;
	border:1px solid #eee;
	color:#333;
}
.selected-course {
	border:1px solid #2c3e50;
	background-color:#2c3e50;
	color:#fff;
}
.course-info a {
	color:#fff !important;
}
.label-line {
	line-height:2em;
}

.display-options-header {
	cursor: pointer;
}
/* NEW SCHEDULES */

body.print div[schedule] > .panel {
	box-shadow: none;
	border: none;
	width: 720px;
	margin: 0 auto;
}
@media print {
  body.print a[href]:after {
    content: "";
  }
}

div[schedule] .canvas-cont {
	height:500px;
	width:700px;
	margin: 0 auto;
  
}
@media screen and (max-width:768px) {
div[schedule] {
    overflow: hidden;
}
  div[schedule] .canvas-cont {
	height:500px;
	width:320px;
	margin: 0 auto;
    overflow-x: scroll;
   }  
   
   
.btn-xs-block {
	display: block;	
}
}
/* BOOTSTRAP EXTENSIONS */
.btn {
	transition: background-color .25s ease, box-shadow .125s ease;
}

.btn-group-dow {
	width: 100%;
}

select.ng-invalid {
	color:#ccc;
	font-style: italic;
}

.btn-dow {
	padding: 11px 9px;
	width: 14.28%;
}
.vert-spacer-sm {
	margin-bottom:10px;
	width:1px;
	float:left;
}

.vert-spacer-static-sm {
	margin-bottom:10px;
	width:1px;
}
.vert-spacer-md {
	margin-bottom:20px;
	width:1px;
	float:left;
}
.vert-spacer-static-md {
	margin-bottom:20px;
	width:1px;
}

@media screen and (max-width:768px) {
	.smaller-sm {
		font-size: smaller;
	}
	
	.margin-bottom-sm {
		margin-bottom: 15px;
	}
	
	.inline-sm {
		display: inline-block;
	}
	
	#browse-contents .list-group-item {
	padding: 10px 8px
	}
}

@media screen and (min-width:767px) {
	
	.panel-control-overlap .panel-heading .panel-title {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.panel-control-overlap .panel-footer {
		transition: background-color .25s;
	}

	.panel-control-overlap .panel-body.ng-hide + .panel-footer {
		background: none;
	    height: 0;
	    padding-bottom: 0;
	    padding-top: 0;
	    transform: translate(0px, -50px);
	    -webkit-transform: translate(0px, -50px);
	    border: 0;
	}
	
	.pull-right-sm {
		float: right;
	}

}

.popover {
	color: #333 !important;
	width:300px;
}
.popover a {
	color: #000 !important;
}
.popover-title {
	display:block;
}
.rmp-rating h2 {
	color:#fff;
	text-align:center;
	display:block;
	margin:0 auto;
	background-color:#2c3e50;
	border-radius: 50% 50%;
	height:70px;
	width:70px;
	line-height:70px;
}
.rmp-rating {
	font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
}
span[professor-lookup] {
	cursor: pointer;
}

.inline-col {
	display: inline-block;
	vertical-align:top;
	float:none;
}

.course-cart-item {
	border-style: solid;
	border-color: #ffffff;
	border-width: 0px;
	border-left-width: 10px;
	
}
#master_schedule_results {
	padding-top: 10px;
}

.schedule-notification {
	text-align: center;
}
/* Browse Courses */

#browse-contents .list-group-item {
	transition:  background-color .25s ease, color .25s ease, border .25s ease;
	min-height: 60px;
}

#browse-contents .browse-heading {
	cursor: pointer;
}

#browse-contents .browse-heading .list-group-item-heading,
#browse-contents .browse-heading .list-group-item-text {
	overflow: hidden;
	padding-left: 5px;
}

#browse-contents .browse-sublist {
	margin-top:10px;
}

#browse-contents .list-group-item[browse-list]:not(.active):not(.active-nostyle):hover {
	background: rgb(245, 245, 245);
}

.browse-toggle-button {
	margin-right:10px;
}

#browse-contents .list-group-item.active > .browse-sublist > .list-group > .list-group-item:not(.active) > .browse-heading > h4.list-group-item-heading,
#browse-contents .list-group-item.active > .browse-sublist > .list-group > .list-group-item:not(.active) > .browse-heading > p.list-group-item-text {
	color: rgb(44, 62, 80);
}

.course-description {
	margin-top: 10px;
	font-size: small;
	color: rgb(44, 62, 80);
}

.form-inline-label {
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}
/* SVG Schedule Rendering */
svg rect {
	shape-rendering: crispEdges;
	pointer-events: all;
}

svg text {
	cursor: default;
}

svg g.item {
	pointer-events: all;
}

svg g.item:hover rect {
	fill-opacity: 1;
}
@media screen and (min-width: 991px) and (max-width: 1199px)  {
	.course-cart {
		width: 293px;
	}
}

@media screen and (min-width:1200px) {
	.course-cart {
		width: 360px;
	}
}
@media screen and (min-width: 940px) {
		
	
	.course-cart-window {
		overflow-y: auto;
		height: 350px;
		height: calc(100% - 124px);
	}
	
	.course-cart {
		height: calc(100% - 20px);
	}
	
	.pinned-sizer {
		position: fixed;
		height: calc(100% - 250px);
	}
	.pinned {
		position: fixed;
	}
}


@media screen and (max-width:767px) {
	.schedule-cont {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.schedule-track {
		width:1000px;
	}
	.course-cart-item {
		border-left-width: 0px;
		border-top-width: 3px;
		margin-top: 10px;
	}
	.mobile-no-bottom-margin {
		margin-bottom: 0 !important;
	}
}

/* ANIMATIONS */
@media screen and (min-width:767px) {
	
	
	.no-repeat-item-animation {
		-webkit-animation:none !important;
	  -moz-animation:none !important;
	  -o-animation:none !important;
	  animation: none !important;
	  opacity: 1 !important;
	  margin-left: 0 !important;
	}
	
	.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
		-webkit-transition:all linear 0.25s;
		-moz-transition:all linear 0.25s;
		-o-transition:all linear 0.25s;
		transition:all linear 0.25s;
		display:block!important;
	}
	 
	.animate-show-hide.ng-hide-add.ng-hide-add-active,
	.animate-show-hide.ng-hide-remove {
		opacity:0;
	}
	 
	.animate-show-hide.ng-hide-add,
	.animate-show-hide.ng-hide-remove.ng-hide-remove-active {
		opacity:1;
	}
	

	.repeat-item.ng-enter {

	  -webkit-animation:0.25s repeat-item-enter;
	  -moz-animation:0.25s repeat-item-enter;
	  -o-animation:0.25s repeat-item-enter;
	  animation:0.25s repeat-item-enter;
	  overflow:hidden;
	}
	
	.repeat-item.ng-leave {
	  -webkit-animation:0.25s repeat-item-leave;
	  -moz-animation:0.25s repeat-item-leave;
	  -o-animation:0.25s repeat-item-leave;
	  animation:0.25s repeat-item-leave;
	  overflow:hidden;
	}
}
@keyframes repeat-item-enter {
	0% {
		opacity:0; 
		max-height:0;
	}

	100% {
		opacity:1; 
		max-height:60px;
	}
}

@-webkit-keyframes repeat-item-enter {
	0% {
		opacity:0; 
		max-height:0;
	}

	100% {
		opacity:1; 
		max-height:60px;
	}
}


@keyframes repeat-item-leave {
	0% {
		opacity:1; 
		margin-left:0px;
		max-height:60px;
	}
	50% { 
		opacity:0; 
		margin-left:-40px;
		max-height:60px;
	}
	100% {
		max-height:0;
		opacity:0; 
		margin-left:-40px;
	}
}

@-webkit-keyframes repeat-item-leave {
	0% {
		opacity:1; 
		margin-left:0px;
		max-height:60px;
	}
	50% { 
		opacity:0; 
		margin-left:-40px;
		max-height:60px;
	}
	100% {
		max-height:0;
		opacity:0; 
		margin-left:-40px;
	}
}