body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.schedule {
	overflow:hidden;
	font-size:10px;
	border-bottom:solid 1px black;
	border-right:solid 1px black;
}
.schedule div {
	position:absolute;
	width:99px;
	border:solid 1px black;
	background-color:white;
}
.schedule div div {
	position:inline;
	border:none;
	width:95px;
	padding:2px;
}
.scheduleWrapper {
	position:relative;
	float:center;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background-color:lightgreen;
}
.schedule h4 {
	margin:0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top:1px;
	overflow: hidden;
}
.weekday {
	position:absolute;
	width:99px;
	height:19px;
	top:0px;
	font-weight:bold;
	font-size:12px;
	line-height:19px;
	text-align:center;
	vertical-align:middle;
}
.daytime {
	position:absolute;
	width:99px;
	height:19px;
	left:0px;
	font-weight:bold;
	font-size:12px;
	line-height:19px;
	text-align:right;
	vertical-align:middle;
}
.day0 {
	left:100px;
}
.day1 {
	left:200px;
}
.day2 {
	left:300px;
}
.day3 {
	left:400px;
}
.day4 {
	left:500px;
}
.day5 {
	left:600px;
}
.day6 {
	left:700px;
}

.shortHeader {
	height: 20px;
	line-height: 20px;
}

#footer {
	height:50px;
	text-align:center;
	line-height:50px;
}
